<div class="row">
  <form class="col s6 offset-s3">
    <div class="row">
      <div class="input-field col s12">
        <input id="login" [(ngModel)]="loginForm.username" name="username" type="text" class="validate">
        <label for="login">Login</label>
      </div>
      <div class="input-field col s12">
        <input id="last_name" [(ngModel)]="loginForm.password" name="password" type="password" class="validate">
        <label for="last_name">Password</label>
      </div>
      <div class="input-field col s12">
        <button (click)="login()" class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
